.footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-footer{
    text-align: center;    
}

.content-footer h4{
    color: white;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;   
}

.content-footer p{
    color: white;
}

.final-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #9e9797;
}